.header {
  background-color: var(--reader-fill-primary);
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 0.1rem solid var(--reader-fill-secundary);
  position: sticky;
  top: 0;
}

.containerTitle {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.ul {
  display: flex;
  align-items: center;
}

.ul li {
  margin: 0 1rem;
  list-style: none;
}
