.jep-reader-theme-light {
  --reader-text-color-label: #222224;
  --reader-text-color-primary: #ec255a;
  --reader-text-color-secondary: blue;
  --reader-text-color-tertiary: blue;

  --reader-fill-primary: #fff;
  --reader-fill-secondary: #ddd;
  --reader-fill-tertiary: var(--lt-color-gray-100);
  --reader-fill-quaternary: #fff;
  --reader-fill-button-color: #f2f2f2;

  --backdrop-color: rgba(0, 0, 0, 0.3);
  --backdrop-bg-color: #fff;

  --reader-border-color-primary: #1c62b9;

  --reader-white-color: #fff;
}

.jep-reader-theme-dark {
  --reader-text-color-label: #fff;
  --reader-text-color-primary: #ec255a;
  --reader-text-color-secondary: tomato;
  --reader-text-color-tertiary: tomato;

  --reader-fill-primary: #222224;
  --reader-fill-secondary: #3a3a3d;
  --reader-fill-tertiary: var(--lt-color-gray-900);
  --reader-fill-quaternary: #0e0e0f;
  --reader-fill-button-color: #3a3a3d;

  --reader-other-tertiary: #f1ede7;

  --backdrop-color: rgba(1, 1, 1, 0.3);
  --backdrop-bg-color: #222224;

  --reader-border-color-primary: #1c62b9;

  --reader-white-color: #fff;
}
